body {
  background-color: #E7E0DC;
	font-family: 'Montserrat', sans-serif;
}


/* #dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: lightpink;
	width: 100%;
	z-index: 10;
} */

/* body {
	background-color: #CAC8CC;
} */


.heading {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1em;
	padding: 30px 30px 10px 30px;
}

.title {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 3.5em;
	padding: 10px 30px 30px 30px;
}

.sub {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1.25em;
	padding: 5px 30px 30px 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hotpoints {
	cursor: pointer;
}

#dialogoverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#dialogbox{
	display: none;
	position: fixed;
	/* background: pink; */
	border-radius:1px;
	width:550px;
	z-index: 10;
}

#dialogbox > div {
	background:white;
	margin:2px;
	border: 5px solid #af8250;;
	}

/* #dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; } */

#dialogbox > div > #dialogboxbody {
	background:#ffffff;
	padding:20px;
	color:black;
	text-align: center;
	font-size: 1em;
}

#dialogbox > div > #dialogboxfoot {
	background: #ffffff;
	padding:10px;
	text-align:center;
}

#dialogboxfoot button {
	background-color: #af8250;
	text-decoration: none;
	border: none;
	color: white;
}


/* .button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
} */

/* .button:hover {
  background-color: #4CAF50;
  color: white;
} */

a {
  color: black;
}

a:hover {
  color: #588066;
  text-decoration: none;
}


.footer {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 0.75em;
	padding: 60px 30px 10px 30px;
}
