#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: lightpink;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: pink;
	border-radius:1px;
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:white; margin:2px; }
/* #dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; } */
#dialogbox > div > #dialogboxbody{ background:#ffffff; padding:20px; color:blue; text-align: center;}
#dialogbox > div > #dialogboxfoot{ background: #ffffff; padding:10px; text-align:center; }
